$purple: #3F2F3F;
$red: #993526;
$yellow: #F7D631;
$green: #5AB569;
$white: #F8F8F5;

$brand-black: $purple;
$brand-white: $white;

$brand-primary: $green;
$brand-secondary: $red;
$brand-tertiary: $yellow;
