<template name="transactions">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="panel">
          <div class="panel-heading text-center">
            <h1>Transactions</h1>
          </div>
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Description</th>
                  <th>Category</th>
                  <th>Amount</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                {{#each transactions}}
                  <tr>
                    <td>{{ name }}</td>
                    <td>
                      <select name="category">
                        {{#each categories}}
                          <option value="category_id">
                            {{ cleanCategory category }}
                          </option>
                        {{/each}}
                      </select>
                    </td>
                    <td>{{ formatMoney amount }}</td>
                    <td>{{ formatDate date }}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
