<template name="transactions">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>transactions</h1>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Description</th>
              <th>Category</th>
              <th>Amount</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {{#each transactions}}
              <tr>
                <td>{{ name }}</td>
                <td>
                  {{#each category}}
                    {{ this }},&nbsp;
                  {{/each}}
                </td>
                <td>${{ amount }}</td>
                <td>{{ date }}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
