<template name="registeredModal">
  <div class="modal fade" id="registered-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5>Boom!</h5>
          <h1>You're all set!</h1>

          <p>You'll now get a summary of your budget sent right to your inbox every morning!</p>
          <p>
            If you don't have anymore bank accounts you want to link, there's no need to do anything else!
            Go enjoy your life!
            Otherwise, close this popup and link as many bank accounts as you need!
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
